@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* vh = viewport height, vw = viewport width */
}

canvas {
  border: 2px solid steelblue;
}

.toolbox {
  background-color: steelblue;
  border: 1px solid slateblue;
  display: flex;
  width: 804px;
  padding: 1rem; /* rem => root elementu */
}

.toolbox > * {
  border: 0;
  background-color: #fff;
  height: 50px;
  width: 50px;
  font-size: 2rem; /* nadal odnosimy sie do font-size elementu (znacznika) html tzn. jesli font-size na <html> wynosi 10px to 2rem = 20px, a jezeli 16px to 2rem = 32px */
  cursor: pointer;
  padding: 0.25rem;
  margin: 0.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.toolbox > *:last-child {
  margin-left: auto;
}

.toolbox > *:active {
  transform: scale(0.98);
}
