* {
  margin: 0px;
  padding: 0px;
}
 
/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #10bb99;
  color: white;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
  height: 50px;
}

.navbar{
  padding-left: 30px;
  padding-top: 5px;
  display: flex;
  
  }



.navbar>a{
color: red;
margin-right: 20px;
font-size: 30px;
text-decoration:none; 
display: flex;

}

.row
{
display: flex;

}

.side
{
  background-color: aquamarine;
}


.side>.fakeimg
{
  background-color: darkolivegreen;
width: 250px;
height: 100px;
margin-left: 10px;
}

.main>.fakeimg
{
  background-color: darkolivegreen;
width: 100%;
height: 100px;
margin-left: 10px;
padding-right: 20px;
}

.fakeimg
{
  padding-left: 10px;
  padding-top: 10px;
}

.main
{
  flex: 70%;
}

 .footer
 {
  padding: 20px;
  text-align: center;
  background: #ddd;
 }