* {
  box-sizing: border-box;
}
body {
    margin:0;
    font-family: 'Times New Roman';
}
.header{
    padding: 50px;
    text-align: center;
    background-color: aquamarine;
    color:white;
}
.navbar{
    background-color: black;
    display: flex;
}
.navbar a{
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    background-color: gray;
    color: black;
}

.footer{
    background-color: darkgray;
    text-align: center;
    padding: 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    background-color: lightgray;
    padding:10px;
    flex: 25%;
}
.main{
    padding:10px;
    flex:75%;
}
.fakeimg{
  background-color: gray;
  padding:10px;
}